<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="YelHex_SweetTracker::sweettracker" title="SweetTracker" sortOrder="15">
                    <resource id="YelHex_SweetTracker::sweettracker_manage" title="Manage SweetTracker" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
